  {{define "campaign"}} {{template "layout_start" .}}

  <header>
      <h1>{{.Data.Campaign.Name}}</h1>
  </header>

  {{if .Data.Description}}
  <section class="campaign-description">
      {{.Data.Description}}
  </section>
  {{end}}

  <dl class="grid">
      <div>
          <dt>Code</dt>
          <dd><code>{{.Data.Campaign.Code}}</code></dd>
      </div>

      <div>
          <dt>Version</dt>
          <dd>{{.Data.Campaign.Version}}</dd>
      </div>

  </dl>

  <section>
      <h2>Steps</h2>

      <ol>
          {{range .Data.Steps}}
          <li>
              <h3>{{.Step.Name}}</h3>
              <p><code>{{.Step.Code}}</code></p>

              {{if .Instructions}}
              <div>{{.Instructions}}</div>
              {{end}}
          </li>
          {{end}}
      </ol>
  </section>

  <section>
      <h2>Persons</h2>

      <figure>
          <table class="striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Company</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  {{range .Data.Persons}}
                  <tr>
                      <td>
                          <a href="/persons/{{.PersonID}}">
                              {{.PersonName}}
                          </a>
                      </td>
                      <td>
                          {{if .CompanyID}}
                              <a href="/companies/{{.CompanyID}}">
                                  {{.Company}}
                              </a>
                          {{else}}
                              &mdash;
                          {{end}}
                      </td>
                      <td>{{.Status}}</td>
                  </tr>
                  {{else}}
                  <tr>
                      <td colspan="3">No persons enrolled.</td>
                  </tr>
                  {{end}}
              </tbody>
          </table>
      </figure>
  </section>

  {{template "layout_end" .}} {{end}}
