{{define "person"}} {{template "layout_start" .}}

  <header>
      <hgroup>
          <h1>{{.Data.Person.Name}}</h1>
      </hgroup>
  </header>

  {{if .Data.Saved}}
  <article role="status">Person saved.</article>
  {{end}}

  <dl class="grid">
      <div>
          <dt>Position</dt>
          <dd>
              {{if .Data.Person.Position}}
                  {{.Data.Person.Position}}
              {{else}}
                  &mdash;
              {{end}}
          </dd>
      </div>

      <div>
          <dt>Company</dt>
          <dd>
              {{if .Data.Person.CompanyName}}
                  <a href="/companies/{{.Data.Person.CompanyID}}">
                      {{.Data.Person.CompanyName}}
                  </a>
              {{else}}
                  &mdash;
              {{end}}
          </dd>
      </div>
  </dl>

  <footer class="actions">
      <a href="/persons/{{.Data.Person.ID}}/edit" role="button">
          Edit
      </a>
      <form
          method="post"
          action="/persons/{{.Data.Person.ID}}/delete"
          onsubmit="return confirm('Delete this person?')"
      >
          <button type="submit" class="danger outline">
              Delete
          </button>
      </form>
  </footer>

  {{template "layout_end" .}} {{end}}
